    <% if (title !== 'cienhoras - add') { %>
        <footer class="fixed-bottom text-center mb-2 bar">
        <% if (title === 'cienhoras - profile') { %>
            <a href="/post/add" class="fas fa-square-plus icons add"></a>
        <%} else if (title === 'cienhoras'){ %>
            <a href="https://github.com/ROEL12037" target="_blank" class="fab fa-square-github icons"></a>
            <a href="https://www.linkedin.com/in/roel12037" target="_blank" class="fab fa-linkedin icons"></a>
            <a href="https://twitter.com/ROELv12037" target="_blank" class="fab fa-square-twitter icons"></a>
        <% } %>
        </footer>
    <% } %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
            crossorigin="anonymous"></script>
</body>
</html>