<%- include('partials/top') %>

<main class="container-sm">
	<h2 class="text-center">Memory in the Making</h2>
	<div class="card max-width-32 mx-auto">
		<div class="card-header text-center">Add Event</div>

		<div class="card-body">
			<form
				id="addEvent"
				action="/post/addPost"
				method="post"
				enctype="multipart/form-data"
				class="max-width-32 m-3">
				<div class="mb-3">
					<label
						for="image"
						class="form-label"
						>Event Image</label
					>
					<input
						class="form-control form-control-sm"
						id="image"
						type="file"
						name="image" />
				</div>

				<div class="mb-3">
					<label
						for="event"
						class="form-label"
						>Event Name</label
					>
					<input
						type="text"
						class="form-control form-control-sm"
						id="event"
						name="event" />
				</div>

				<div class="mb-3">
					<label
						for="eventInfo"
						class="form-label"
						>Event Info</label
					>
					<textarea
						class="form-control"
						id="eventInfo"
						rows="2"
						name="eventInfo"></textarea>
				</div>
			</form>
			<p class="text-muted text-center">all fields required</p>
		</div>

		<div class="card-footer d-flex justify-content-between">
			<button
				form="addEvent"
				type="submit"
				class="btn btn-sm red-btn">
				Add event
			</button>
			<a
				href="/profile"
				class="btn btn-sm btn-secondary"
				>Cancel</a
			>
		</div>
	</div>
</main>

<%- include('partials/bottom') %>
