<%- include('partials/top') %>

<main class="container-sm text-center max-width-32">
	<h1 class="display-1">EventVault</h1>
	<p class="lead">Store your moments, share your stories.</p>
	<p>Every event, one vault.</p>
	<p class="lead fw-lighter">
		Rediscover the magic of events. From the electric atmosphere of concerts,
		the adrenaline rush of sports, to the quiet charm of movie nights — preserve
		every moment in your personal vault.
	</p>
	<a
		href="/login"
		class="btn red-btn">
		<span class="lead">Proceed to log-in</span>
	</a>
</main>

<%- include('partials/bottom') %>
