<%- include('partials/top') %>

<div class="vh-100 container-sm d-flex flex-column mx-auto text-center">
    <main class="h-100 d-flex flex-column justify-content-center">
        <section class="m-3">
            <h1 class="display-1">cienhoras</h1>
            <p class="lead">share your experience</p>
            <p class="lead fw-lighter">Who was your favorite? How was the venue? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, blanditiis?</p>
            <a href="/login" class="btn mb-2 proceed"><span class="lead">proceed to log-in</span></a>
        </section>
    </main>
    <footer class="mt-auto">
        <a href="https://github.com/ROEL12037" target="_blank" class="fab fa-square-github icons"></a>
        <a href="https://www.linkedin.com/in/roel12037" target="_blank" class="fab fa-linkedin icons"></a>
        <a href="https://twitter.com/ROELv12037" target="_blank" class="fab fa-square-twitter icons"></a>
    </footer>
</div>


<%- include('partials/bottom') %>