<%- include('partials/top') %>

<main class="container-sm text-center max-width-32">
    <h1 class="display-1">cienhoras</h1>
    <p class="lead">Share your experience!</p>
    <p class="lead fw-lighter">Who was your favorite? How was the venue? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptas magnam laudantium ut animi odit eligendi consequatur minima saepe! Distinctio!</p>
    <a href="/login" class="btn red-btn">
        <span class="lead">Proceed to log-in</span>
    </a>
</main>

<%- include('partials/bottom') %>