<%- include('partials/top') %>



<section class="container-sm text-center position-absolute top-50 start-50 translate-middle">
    <div class="card cover mx-auto">
        <img src="/img/audience-sm.jpg" alt="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title mb-3">Log-in below</h2>
            <a href="login/google" class="btn login"><span class="fab fa-google me-2"></span>LOG IN WITH GOOGLE</a>
        </div>
    </div>
</section>

<%- include('partials/bottom') %>