<%- include('partials/top') %>

<nav class="navbar fixed-top navbar-expand-sm">
    <div class="container-sm">
        <span class="navbar-brand">cienhoras</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <a href="/" class="nav-link">Home</a>
        </div>
    </div>
</nav>

<main class="container-sm text-center position-absolute top-50 start-50 translate-middle">
    <div class="card cover mx-auto">
        <img src="/img/audience-sm.jpg" alt="" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title mb-3">Log-in below</h2>
            <a href="login/google" class="btn login"><span class="fab fa-google me-2"></span>LOG IN WITH GOOGLE</a>
        </div>
    </div>
</main>

<%- include('partials/bottom') %>