<%- include('partials/top') %>

<section class="container-sm text-center position-absolute top-50 start-50 translate-middle">
    <div class="card">
        <img src="/img/audience-sm.jpg" alt="" class="card-img-top mx-auto rounded mt-3 pic">
        <div class="card-body">
            <h2 class="card-title">Log-in below</h2>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ducimus.</p>
            <a href="login/google" class="btn btn-primary">Log-in with Google</a>
        </div>
    </div>
</section>

<%- include('partials/bottom') %>