<%- include('partials/top') %>

<main class="container-sm">
    <div class="card max-width-32 mx-auto text-center">
        <img src="/img/audience-sm.jpg" alt="audience" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title mb-3"><span class="fw-light">Log-in below</span></h2>
            <a href="login/google" class="btn red-btn"><i class="fab fa-google me-2"></i>Log-in with Google</a>
        </div>
    </div>
</main>

<%- include('partials/bottom') %>