<%- include('partials/top') %>

<main class="container-sm test">
    <h1 class=""><%= name %>'s Profile</h1>
    
    <% if (posts.length === 0) { %>
        <p>no posts</p>
    <%} else { %>
        <% posts.forEach( post => { %>
            <p>post._id</p>
            <p>post.user</p>
            <p>post.event</p>
            <p>post.caption</p>
            <p>post.image</p>
            <p>post.cloudinaryID</p>
            <p>post.createdAt</p>
            <p>post.updatedAt</p>
        <% }) %>
    <% } %>
</main>

<%- include('partials/bottom') %>