.landing-container {
    max-width: 32rem;
}

.cover {
    max-width: 32rem;
}

.login {
    background-color: rgb(208, 56, 40);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.login:hover {
    background-color: rgba(208, 56, 40, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9)
}

.icons {
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    margin: 0 0.5rem;
}

.bar {
    background-color: rgb(255, 255, 255);
}

.add {
    color: rgb(208, 56, 40);
}

/* updated */
.max-width-32 {
    max-width: 32rem;
}

.red-btn {
    background-color: rgb(208, 56, 40);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.red-btn:hover {
    background-color: rgba(208, 56, 40, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9)
}

header, footer {
    background-color: rgb(255,255,255);
}

.brdr {
    border: 1px solid blue;
    /* border-color: blue; */
}

.post-img-dimensions {
    height: 12.5rem;
    width: 12.5rem;
}

.post-card {
    max-width: 12.5rem;
}

.edit-delete {
    color: rgb(208, 56, 40);
}

.post-img-overlay {
    max-height: 12.5rem;
}

.black-font {
    color: rgb(0, 0, 0);
}

.red-color {
    color: rgb(208, 56, 40);
}

.blue-color {
    color: rgb(30, 107, 193)
}

.height-max {
    max-height: 48rem;
}