.pic {
    width: 50%;
}

.landing-container {
    max-width: 32rem;
}

.cover {
    max-width: 32rem;
}

.login {
    background-color: rgb(208, 56, 40);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.login:hover {
    background-color: rgba(208, 56, 40, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9)
}

.icons {
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    margin: 0 0.5rem;
}

.bar {
    background-color: rgb(255, 255, 255);
}

.add {
    color: rgb(208, 56, 40);
}